*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
 
  background: linear-gradient(to right top, #0074b7, #003b73);
  color: #016aa7;
  font-weight: bold;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

p {
  font-size: 2rem;
  color: white;
}

.title {
  margin-bottom: 2rem;
}

.title h1 {
  font-size: 2.5rem;
  color: rgb(227, 242, 255);
}

.flip-card {
  font-size: 5rem;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  border-radius: .1em;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2)
}

.top, 
.bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
  height: .75em;
  line-height: 1;
  padding: .25em;
  overflow: hidden;
}

.top,
.flip-card .top-flip {
  background-color: #f7f7f7;
  border-top-right-radius: .1em;
  border-top-left-radius: .1em;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.bottom,
.flip-card .bottom-flip {
  background-color: white;
  display: flex;
  align-items: flex-end;
  border-bottom-right-radius: .1em;
  border-bottom-left-radius: .1em;
}

.flip-card .top-flip {
  content: attr(data-current-number);
  position: absolute;
  width: 100%;
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}

.flip-card .bottom-flip {
  content: attr(data-next-number);
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: flip-bottom 250ms ease-out 250ms;
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}

.container {
  display: flex;
  gap: .5em;
  justify-content: center;
}

.container-segment {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .1em;
}

.time-box {
  display: flex;
  gap: .3em;
}